In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/DataTalksClub/data-engineering-zoomcamp/main/week_4_analytics_engineering/taxi_rides_ny/data/taxi_zone_lookup.csv")

In [3]:
df

     locationid        borough                     zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

Convert the index into column

In [4]:
df.index.name = 'index'

In [5]:
df.reset_index(inplace=True)

In [6]:
df

     index  locationid        borough                     zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV          NaN
264    264         265        Unknown                      NaN          NaN

[265 rows x 5 columns]

In [7]:
df.columns

Index(['index', 'locationid', 'borough', 'zone', 'service_zone'], dtype='object')

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine(
    'postgresql://root:root@localhost:5432/ny_taxi'
)

In [10]:
import pandas.io.sql as sql

In [11]:
sql_schema = sql.get_schema(frame=df, name="zones", con=engine)

In [12]:
print(sql_schema)

CREATE TABLE zones (
	index BIGINT,
	locationid BIGINT,
	borough TEXT,
	zone TEXT,
	service_zone TEXT
)

In [13]:
import psycopg2

In [14]:
postgresConnection = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root"
)

In [15]:
cursor = postgresConnection.cursor()

In [16]:
cursor.execute(sql_schema)

In [17]:
postgresConnection.commit()

In [18]:
postgresConnection.close()

In [19]:
len(df)

265

In [20]:
df.to_sql(name="zones", con=engine, if_exists='append', index=False)

265