In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/home/rafael/data_engineering_bootcamp/homework/week1/taxi_zone_lookup.csv")

In [4]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

Convert the index into column

In [ ]:
df.index.name = 'index'

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.columns

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine(
    'postgresql://root:root@localhost:5432/ny_taxi'
)

In [7]:
import pandas.io.sql as sql

In [8]:
sql_schema = sql.get_schema(frame=df, name="zones", con=engine)

In [9]:
print(sql_schema)

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
import psycopg2

In [11]:
postgresConnection = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root"
)

In [12]:
cursor = postgresConnection.cursor()

In [13]:
cursor.execute(sql_schema)

In [14]:
postgresConnection.commit()

In [15]:
postgresConnection.close()

In [16]:
len(df)

265

In [17]:
df.to_sql(name="zones", con=engine, if_exists='append', index=False)

265